In [1]:
import requests
import pandas as pd
import time
import os
from config import token
import sqlite3
import warnings
import calendar

In [61]:
def fetch_save_data(url, headers, params, csv_filename):
    results = []
    
    while True:
        response = requests.get(url, headers=headers, params=params)
        
        if response.status_code == 200:
            data = response.json()
            df = pd.DataFrame(data['results'])
            results.append(df)
            
            if len(df) < params['limit']:
                break
            
            params['offset'] += params['limit']
        else:
            print("Error:", response.status_code)
            break
    
    df_name = pd.concat(results, ignore_index=True)
    response_count = df_name.shape[0]
    print(f"Response Count for{csv_filename}: {response_count}")
    
    df_name.to_csv(csv_filename, index=False)
    return df_name

# Define the API endpoint URL, headers, pagination parameters, and base CSV filename
api_url = "https://www.ncei.noaa.gov/cdo-web/api/v2/data"
api_headers = {"token": token}
limit = 1000
offset= 0
datasetid = 'GSOM'
datatypeids = ['PRCP'] #'TMAX','TAVG','TMIN' 'PRCP'
locationid = 'FIPS:US'  # US FIPS code, california is 06

# Define the start and end dates for the range of months you want to fetch
start_year = 2019
start_month =12
end_year = 2019
end_month = 12  # Adjust this based on how many months you want to fetch

# Specify the number of designated iterations (months)
iterations = end_month - start_month + 1

# Loop through the specified range of months
for _ in range(iterations):
    start_date = f"{start_year}-{start_month:02d}-01"
    end_day = calendar.monthrange(start_year, start_month)[1]
    end_date = f"{start_year}-{start_month:02d}-{end_day:02d}"
    
    api_params = {
        'offset': offset,
        'datasetid': datasetid,
        'startdate': start_date,
        'enddate': end_date,
        'locationid': locationid,
        'limit': limit,
        'datatypeid': ','.join(datatypeids)
    }
    
    output_csv_filename = f"Outputs/US_data/prcp_{start_year}_{start_month:02d}.csv" #change between temp and prcp and others
    
    # Call the function with the defined values
    temp_df = fetch_save_data(api_url, api_headers, api_params, output_csv_filename)
    
    # Increment the start_month and start_year for the next iteration
    start_month += 1
    if start_month > 12:
        start_month = 1
        start_year += 1

Response Count forOutputs/US_data/prcp_2019_12.csv: 14848

In [62]:
# Combine all daily CSV files into a single DataFrame
combined_df = pd.concat([pd.read_csv(os.path.join("Outputs/US_data", file)) for file in os.listdir("Outputs/US_data")])

# Save the combined DataFrame as a CSV file
combined_csv_filename = 'Outputs/combined_data.csv'
combined_df.to_csv(combined_csv_filename, index=False)

combined_df.head()

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:AQW00061705       ,,,W  390.3
1  2018-01-01T00:00:00     PRCP  GHCND:CA001018611       ,,,C  117.6
2  2018-01-01T00:00:00     PRCP  GHCND:CA001135126       ,,,C   67.6
3  2018-01-01T00:00:00     PRCP  GHCND:CA005020881       ,,,C    3.6
4  2018-01-01T00:00:00     PRCP  GHCND:CA006020559       ,,,C   21.6

In [63]:
combined_df.shape

(617457, 5)

In [101]:
def fetch_save_data(url, headers, params, csv_filename):
    results = []
    
    while True:
        response = requests.get(url, headers=headers, params=params)
        
        if response.status_code == 200:
            data = response.json()
            df = pd.DataFrame(data['results'])
            results.append(df)
            
            if len(df) < params['limit']:
                break
            
            params['offset'] += params['limit']
        else:
            print("Error:", response.status_code)
            break
    
    df_name = pd.concat(results, ignore_index=True)
    response_count = df_name.shape[0]
    print(f"Response Count: {response_count}")
    
    df_name.to_csv(csv_filename, index=False)
    return df_name

In [ ]:
# Define the API endpoint URL, headers, pagination parameters, and CSV filename
api_url = "https://www.ncei.noaa.gov/cdo-web/api/v2/stations"
api_headers = {"token": token}
api_params = {'offset': 0, 
              'limit': 1000,
              'locationid': 'FIPS:US' #CA code is 06
             }
output_csv_filename = 'Outputs/full_station_list.csv'

# Call the function with the defined values
stations_df = fetch_save_data(api_url, api_headers, api_params, output_csv_filename)

stations_df.tail()

In [ ]:
# Define the API endpoint URL, headers, pagination parameters, and CSV filename
api_url = "https://www.ncei.noaa.gov/cdo-web/api/v2/data"
api_headers = {"token": token}

# Set up pagination parameters
offset = 0
limit = 1000
datasetid = 'GSOM'
datatypeids = ['TAVG','TMIN','TMAX','PRCP']
startdate = '2018-01-01'
enddate = '2018-01-31'
locationid = 'FIPS:US'  # California FIPS code

api_params = {
    'datasetid': datasetid,
    'startdate': startdate,
    'locationid': locationid,
    'enddate': enddate,
    'offset': offset,
    'limit': limit
}

# Combine datatypeids into a comma-separated string
api_params['datatypeid'] = ','.join(datatypeids)

output_csv_filename = 'f(Outputs/US_data/prcp_{year}_{month}.csv)

# Call the function with the defined values
temp_df = fetch_save_data(api_url, api_headers, api_params, output_csv_filename)

# Display the first few rows of the DataFrame
temp_df.tail(10)

In [64]:
# Read the data from your CSV or Excel file
file_path = 'Outputs/combined_data.csv'
data_df = pd.read_csv(file_path)

# Convert 'value' column to float, handling invalid entries as NaN
data_df['value'] = pd.to_numeric(data_df['value'], errors='coerce')

# Initialize empty lists to store the data
dates = []
stations = []
tmax_values = []
tmin_values = []
tavg_values = []
prcp_values = []

# Iterate through the rows of the original DataFrame
for index, row in data_df.iterrows():
    date = row['date']
    station = row['station']
    datatype = row['datatype']
    value = row['value']
    
    if datatype == 'TMAX':
        tmax_values.append(value)
        tmin_values.append(None)
        tavg_values.append(None)
        prcp_values.append(None)
    elif datatype == 'TMIN':
        tmax_values.append(None)
        tmin_values.append(value)
        tavg_values.append(None)
        prcp_values.append(None)
    elif datatype == 'TAVG':
        tmax_values.append(None)
        tmin_values.append(None)
        tavg_values.append(value)
        prcp_values.append(None)
    elif datatype == 'PRCP':
        tmax_values.append(None)
        tmin_values.append(None)
        tavg_values.append(None)
        prcp_values.append(value)
    
    dates.append(date)
    stations.append(station)

# Create a new DataFrame
new_data = {
    'date': dates,
    'station': stations,
    'TMAX': tmax_values,
    'TMIN': tmin_values,
    'TAVG': tavg_values,
    'PRCP': prcp_values
}

new_df = pd.DataFrame(new_data)

# Convert all columns except 'date' and 'station' to float
float_columns = new_df.columns.difference(['date', 'station'])
new_df[float_columns] = new_df[float_columns].astype(float)

# Group by date and station and keep non-null values
grouped_df = new_df.groupby(['date', 'station']).first().reset_index()

# Write the grouped DataFrame to a CSV file
csv_filename = 'Outputs/grouped_df.csv'
grouped_df.to_csv(csv_filename, index=False)


# Print the first few rows of the grouped DataFrame
grouped_df.head()

                  date            station   TMAX   TMIN   TAVG   PRCP
0  2018-01-01T00:00:00  GHCND:AQW00061705  30.58  25.12  27.85  390.3
1  2018-01-01T00:00:00  GHCND:CA001018611   7.98   4.63   6.30  117.6
2  2018-01-01T00:00:00  GHCND:CA001135126   1.10  -5.44  -2.17   67.6
3  2018-01-01T00:00:00  GHCND:CA005020881  -8.93 -17.87 -13.40    3.6
4  2018-01-01T00:00:00  GHCND:CA006020559  -8.50 -19.77 -14.14   21.6

In [44]:
grouped_df.describe()

               TMAX          TMIN          TAVG           PRCP
count  42742.000000  42571.000000  42450.000000  180603.000000
mean      18.393210      5.704463     12.037469      91.247268
std       10.955681     10.450637     10.565162      76.867685
min      -13.780000    -27.680000    -20.530000       0.000000
25%        9.430000     -2.590000      3.340000      30.700000
50%       19.760000      5.810000     12.870000      76.500000
75%       28.010000     14.800000     21.380000     132.100000
max       49.190000     35.390000     42.290000    1528.800000

In [45]:
grouped_df = grouped_df.dropna(subset=['TMAX', 'TMIN', 'TAVG','PRCP'])
grouped_df.head()

                  date            station   TMAX   TMIN   TAVG   PRCP
0  2018-01-01T00:00:00  GHCND:AQW00061705  30.58  25.12  27.85  390.3
1  2018-01-01T00:00:00  GHCND:CA001018611   7.98   4.63   6.30  117.6
2  2018-01-01T00:00:00  GHCND:CA001135126   1.10  -5.44  -2.17   67.6
3  2018-01-01T00:00:00  GHCND:CA005020881  -8.93 -17.87 -13.40    3.6
4  2018-01-01T00:00:00  GHCND:CA006020559  -8.50 -19.77 -14.14   21.6

In [ ]:
# Folder containing the CSV files
folder = 'Outputs/US_data'

# List of CSV filenames
filenames = ['ca_station_temps_2018_2019_1.csv','ca_station_temps_2018_2019.csv']

# Initialize an empty DataFrame to store the combined data
combined_df = pd.DataFrame()

# Loop through the filenames and read each CSV into a DataFrame
for filename in filenames:
    file_path = os.path.join(folder, filename)
    if os.path.exists(file_path):
        df = pd.read_csv(file_path)
        combined_df = pd.concat([combined_df, df], ignore_index=True)
    else:
        print(f"File not found: {file_path}")

# Remove duplicates from the combined DataFrame
combined_df = combined_df.drop_duplicates()

# Save the combined and deduplicated DataFrame to a new CSV file
output_filename = os.path.join('Outputs/combined_temps.csv')
combined_df.to_csv(output_filename, index=False)

print(f"Combined CSVs and removed duplicates. Saved as '{output_filename}'.")

In [ ]:
# Read the data from your CSV or Excel file
file_path = 'Outputs/combined_temps.csv'
data_df = pd.read_csv(file_path)

# Convert 'value' column to float, handling invalid entries as NaN
data_df['value'] = pd.to_numeric(data_df['value'], errors='coerce')

# Initialize empty lists to store the data
dates = []
stations = []
tmax_values = []
tmin_values = []
tavg_values = []
prcp_values = []

# Iterate through the rows of the original DataFrame
for index, row in data_df.iterrows():
    date = row['date']
    station = row['station']
    datatype = row['datatype']
    value = row['value']
    
    if datatype == 'TMAX':
        tmax_values.append(value)
        tmin_values.append(None)
        tavg_values.append(None)
        prcp_values.append(None)
    elif datatype == 'TMIN':
        tmax_values.append(None)
        tmin_values.append(value)
        tavg_values.append(None)
        prcp_values.append(None)
    elif datatype == 'TAVG':
        tmax_values.append(None)
        tmin_values.append(None)
        tavg_values.append(value)
        prcp_values.append(None)
    elif datatype == 'PRCP':
        tmax_values.append(None)
        tmin_values.append(None)
        tavg_values.append(None)
        prcp_values.append(value)
    
    dates.append(date)
    stations.append(station)

# Create a new DataFrame
new_data = {
    'date': dates,
    'station': stations,
    'TMAX': tmax_values,
    'TMIN': tmin_values,
    'TAVG': tavg_values,
    'PRCP': prcp_values
}

new_df = pd.DataFrame(new_data)

# Convert all columns except 'date' and 'station' to float
float_columns = new_df.columns.difference(['date', 'station'])
new_df[float_columns] = new_df[float_columns].astype(float)

# Group by date and station and keep non-null values
grouped_df = new_df.groupby(['date', 'station']).first().reset_index()

# Drop rows with NaN values in 'TMAX', 'TMIN', and 'TAVG' columns
subset_columns = ['TMAX', 'TMIN', 'TAVG']
grouped_df = grouped_df.dropna(subset=subset_columns, how='all')

# Write the grouped DataFrame to a CSV file
csv_filename = 'Outputs/grouped_df.csv'
grouped_df.to_csv(csv_filename, index=False)

# Print the first few rows of the grouped DataFrame
grouped_df.head()

In [ ]:
# Load the stations.csv file into stations_df
stations_df = pd.read_csv('Outputs/full_station_list.csv')
grouped_df= pd.read_csv('Outputs/grouped_df.csv')

# Merge the two DataFrames based on 'station' using a left join
grouped_df_detailed = pd.merge(grouped_df, stations_df, 
                               left_on='station', right_on='id', how='left')

# Drop the redundant columns (from stations_df)
grouped_df_detailed.drop(columns=['id'], inplace=True)

grouped_df_detailed=grouped_df_detailed[['station','name','latitude','longitude','elevation','date','maxdate','mindate','TAVG','TMAX','TMIN','PRCP']]

# Write the grouped DataFrame to a CSV file
csv_filename = 'Outputs/grouped_df_detailed.csv'
grouped_df_detailed.to_csv(csv_filename, index=False)

grouped_df_detailed.head()

,station,name,latitude,longitude,elevation,date,maxdate,mindate,TAVG,TMAX,TMIN,PRCP
0,GHCND:AQW00061705,"PAGO PAGO WEATHER SERVICE OFFICE AIRPORT, US",-14.33056,-170.71361,3.7,2018-01-01T00:00:00,2023-07-31,1945-08-01,27.85,30.58,25.12,390.3
1,GHCND:CA001018611,"VICTORIA GONZALES CS, WA US",48.03330,-123.33330,70.0,2018-01-01T00:00:00,2023-07-31,1973-01-01,6.30,7.98,4.63,117.6
2,GHCND:CA001135126,"MIDWAY, WA US",49.00000,-118.76670,580.0,2018-01-01T00:00:00,2023-06-11,1987-06-01,-2.17,1.10,-5.44,67.6
3,GHCND:CA005020881,"EMERSON AUTO, ND US",49.00000,-97.23330,242.0,2018-01-01T00:00:00,2023-07-31,2009-07-01,-13.40,-8.93,-17.87,3.6
4,GHCND:CA006020559,"BARWICK, MN US",48.63330,-93.96670,335.0,2018-01-01T00:00:00,2023-07-31,1978-12-01,-14.14,-8.50,-19.77,21.6

In [ ]:
wildfires=pd.read_csv('Resources/data.csv')

In [ ]:
wildfires.columns

Index(['OBJECTID', 'Shape', 'FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE',
       'SOURCE_SYSTEM', 'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME',
       'ICS_209_PLUS_INCIDENT_JOIN_ID', 'ICS_209_PLUS_COMPLEX_JOIN_ID',
       'MTBS_ID', 'MTBS_FIRE_NAME', 'COMPLEX_NAME', 'FIRE_YEAR',
       'DISCOVERY_DATE', 'DISCOVERY_DOY', 'DISCOVERY_TIME',
       'NWCG_CAUSE_CLASSIFICATION', 'NWCG_GENERAL_CAUSE',
       'NWCG_CAUSE_AGE_CATEGORY', 'CONT_DATE', 'CONT_DOY', 'CONT_TIME',
       'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE', 'LONGITUDE', 'OWNER_DESCR',
       'STATE', 'COUNTY', 'FIPS_CODE', 'FIPS_NAME'],
      dtype='object')

In [ ]:
wildfires=wildfires[['LATITUDE', 'LONGITUDE', 'FIRE_SIZE','NWCG_REPORTING_UNIT_NAME', 'FIRE_SIZE_CLASS', 'FIRE_YEAR',
       'FPA_ID', 'FIRE_CODE', 'NWCG_CAUSE_CLASSIFICATION',
       'NWCG_GENERAL_CAUSE', 'FIRE_NAME', 'DISCOVERY_DATE', 'CONT_DATE',
       'DISCOVERY_TIME', 'CONT_TIME', 'STATE', 'COUNTY', 'FIPS_CODE'
       ]]
wildfires=wildfires[
    (wildfires['FIRE_YEAR'].isin([2018]))
]
wildfires.head()

,LATITUDE,LONGITUDE,FIRE_SIZE,NWCG_REPORTING_UNIT_NAME,FIRE_SIZE_CLASS,FIRE_YEAR,FPA_ID,FIRE_CODE,NWCG_CAUSE_CLASSIFICATION,NWCG_GENERAL_CAUSE,FIRE_NAME,DISCOVERY_DATE,CONT_DATE,DISCOVERY_TIME,CONT_TIME,STATE,COUNTY,FIPS_CODE
2045714,46.275833,-114.379167,0.1,Bitterroot National Forest,A,2018,FS-6911076,EKS4,Natural,Natural,BLODGETT,8/22/2018,8/22/2018,1625.0,1740.0,MT,081,30081.0
2045715,46.404167,-113.921944,0.1,Bitterroot National Forest,A,2018,FS-6908885,L1RX,Human,Equipment and vehicle use,CORLEY GULCH,7/26/2018,7/28/2018,1225.0,1653.0,MT,081,30081.0
2045716,46.245833,-114.308889,1.0,Bitterroot National Forest,B,2018,FS-6898061,L49X,Human,Recreation and ceremony,CANYON CREEK,9/21/2018,9/23/2018,1305.0,1241.0,MT,081,30081.0
2045717,45.784722,-114.033056,0.1,Bitterroot National Forest,A,2018,FS-6890683,EKS4,Natural,Natural,MAYNARD CREEK,8/17/2018,NaN,1723.0,NaN,MT,081,30081.0
2045718,45.986944,-113.807222,0.1,Bitterroot National Forest,A,2018,FS-6888073,EKS4,Natural,Natural,BLUE,8/12/2018,8/12/2018,1031.0,1334.0,MT,081,30081.0

In [ ]:
wildfires.shape

(80860, 17)

In [ ]:
#Takes 4-10 minutes to run
warnings.filterwarnings("ignore")

wildfires['DISCOVERY_DATE'] = pd.to_datetime(wildfires['DISCOVERY_DATE'])
grouped_df_detailed['date'] = pd.to_datetime(grouped_df_detailed['date'])

def find_nearest_match(row, df, date_col, lat_col, lon_col):
    date_diff = abs((df[date_col] - row['DISCOVERY_DATE']).dt.total_seconds())
    lat_diff = abs(df[lat_col] - row['LATITUDE'])
    lon_diff = abs(df[lon_col] - row['LONGITUDE'])
    total_diff = date_diff + lat_diff + lon_diff
    nearest_idx = total_diff.idxmin()
    return df.loc[nearest_idx]

# Create an empty list to hold the merged rows
merged_rows = []

# Iterate over each row in the filtered wildfires DataFrame
for idx, row in wildfires.iterrows():
    nearest_row = find_nearest_match(row, grouped_df_detailed, 'date', 'latitude', 'longitude')
    merged_row = pd.concat([row, nearest_row])
    merged_rows.append(merged_row)

# Concatenate the list of merged rows into a DataFrame
merged_results = pd.concat(merged_rows, axis=1).T

merged_results=merged_results[['LATITUDE', 'LONGITUDE','COUNTY', 'FIPS_CODE','FIRE_SIZE', 'FIRE_SIZE_CLASS',
       'NWCG_CAUSE_CLASSIFICATION', 'NWCG_GENERAL_CAUSE', 'FIRE_NAME',
       'DISCOVERY_DATE', 'CONT_DATE', 'DISCOVERY_TIME', 'CONT_TIME', 'STATE',
       'station', 'name', 'latitude', 'longitude', 'elevation', 'date', 'TAVG',
       'TMAX', 'TMIN','PRCP']]

merged_results.head(20)

,LATITUDE,LONGITUDE,COUNTY,FIPS_CODE,FIRE_SIZE,FIRE_SIZE_CLASS,NWCG_CAUSE_CLASSIFICATION,NWCG_GENERAL_CAUSE,FIRE_NAME,DISCOVERY_DATE,...,station,name,latitude,longitude,elevation,date,TAVG,TMAX,TMIN,PRCP
0,46.275833,-114.379167,081,30081.0,0.1,A,Natural,Natural,BLODGETT,2018-08-22,...,GHCND:USC00243885,"HAMILTON, MT US",46.24622,-114.16794,1092.7,2018-09-01,12.89,21.95,3.82,3.5
1,46.404167,-113.921944,081,30081.0,0.1,A,Human,Equipment and vehicle use,CORLEY GULCH,2018-07-26,...,GHCND:US1MTRV0009,"STEVENSVILLE 5.7 SSE, MT US",46.427776,-114.058279,1075.9,2018-08-01,NaN,NaN,NaN,12.2
2,46.245833,-114.308889,081,30081.0,1.0,B,Human,Recreation and ceremony,CANYON CREEK,2018-09-21,...,GHCND:USC00243885,"HAMILTON, MT US",46.24622,-114.16794,1092.7,2018-10-01,6.96,13.28,0.65,33.7
3,45.784722,-114.033056,081,30081.0,0.1,A,Natural,Natural,MAYNARD CREEK,2018-08-17,...,GHCND:USC00242221,"DARBY, MT US",46.0263,-114.1763,1182.6,2018-09-01,11.77,20.79,2.74,9.1
4,45.986944,-113.807222,081,30081.0,0.1,A,Natural,Natural,BLUE,2018-08-12,...,GHCND:USC00247967,"SULA 14 NE, MT US",45.911,-113.7394,1571.2,2018-08-01,15.1,26.09,4.12,19.4
5,46.023056,-113.799722,081,30081.0,0.1,A,Natural,Natural,POLLYWOG,2018-08-11,...,GHCND:USC00247967,"SULA 14 NE, MT US",45.911,-113.7394,1571.2,2018-08-01,15.1,26.09,4.12,19.4
6,45.913611,-114.6675,049,16049.0,0.1,A,Natural,Natural,CEDAR,2018-07-25,...,GHCND:USC00108246,"SELWAY LODGE, ID US",46.0081,-114.8442,786.4,2018-08-01,19.38,31.89,6.88,21.1
7,46.121111,-114.239167,081,30081.0,0.1,A,Natural,Natural,DOUBLE STRIKE,2018-06-08,...,GHCND:USC00242221,"DARBY, MT US",46.0263,-114.1763,1182.6,2018-06-01,14.62,21.15,8.09,102.7
8,45.868333,-113.804167,081,30081.0,0.25,A,Natural,Natural,MEADOW,2018-08-17,...,GHCND:USC00247967,"SULA 14 NE, MT US",45.911,-113.7394,1571.2,2018-09-01,9.69,20.79,-1.42,11.2
9,45.914444,-114.635278,049,16049.0,0.1,A,Natural,Natural,MT GEORGE 2,2018-07-24,...,GHCND:USC00108246,"SELWAY LODGE, ID US",46.0081,-114.8442,786.4,2018-08-01,19.38,31.89,6.88,21.1
10,45.938889,-114.271944,081,30081.0,0.1,A,Natural,Natural,NORTH TRAPPER,2018-08-17,...,GHCND:USC00242221,"DARBY, MT US",46.0263,-114.1763,1182.6,2018-09-01,11.77,20.79,2.74,9.1
11,46.016111,-113.807778,081,30081.0,0.1,A,Natural,Natural,MARTIN CREEK,2018-08-11,...,GHCND:USC00247967,"SULA 14 NE, MT US",45.911,-113.7394,1571.2,2018-08-01,15.1,26.09,4.12,19.4
12,45.9075,-114.626389,049,16049.0,0.1,A,Natural,Natural,MT GEORGE,2018-07-23,...,GHCND:USC00108246,"SELWAY LODGE, ID US",46.0081,-114.8442,786.4,2018-08-01,19.38,31.89,6.88,21.1
13,45.885833,-114.038333,081,30081.0,0.1,A,Natural,Natural,ELK,2018-08-21,...,GHCND:USC00242221,"DARBY, MT US",46.0263,-114.1763,1182.6,2018-09-01,11.77,20.79,2.74,9.1
14,46.017778,-113.772778,081,30081.0,1.0,B,Natural,Natural,HOPE LAKE,2018-08-12,...,GHCND:USC00247967,"SULA 14 NE, MT US",45.911,-113.7394,1571.2,2018-08-01,15.1,26.09,4.12,19.4
15,46.023333,-113.775,081,30081.0,0.1,A,Natural,Natural,CHARITY,2018-08-11,...,GHCND:USC00247967,"SULA 14 NE, MT US",45.911,-113.7394,1571.2,2018-08-01,15.1,26.09,4.12,19.4
16,46.569444,-113.839167,081,30081.0,0.1,A,Human,Recreation and ceremony,CINNABAR,2018-09-13,...,GHCND:US1MTRV0005,"FLORENCE 3.7 SE, MT US",46.60683,-114.0124,1085.1,2018-09-01,NaN,NaN,NaN,5.4
17,45.708333,-114.744444,049,16049.0,0.1,A,Natural,Natural,HAYSTACK FIRE,2018-07-17,...,GHCND:USC00108246,"SELWAY LODGE, ID US",46.0081,-114.8442,786.4,2018-08-01,19.38,31.89,6.88,21.1
18,47.682778,-116.378611,055,16055.0,0.2,A,Natural,Natural,JOHN PEAK,2018-07-27,...,GHCND:US1IDKT0022,"COEUR D ALENE 4.0 SE, ID US",47.663,-116.715,880.3,2018-08-01,NaN,NaN,NaN,21.4
19,47.867778,-116.376944,055,16055.0,0.3,B,Natural,Natural,HAMILTON,2018-07-28,...,GHCND:USC00100667,"BAYVIEW MODEL BASIN, ID US",47.9804,-116.5594,636.1,2018-08-01,17.32,25.85,8.8,11.0

In [ ]:
name_counts = merged_results['name'].value_counts()

# Print the sum of all counts
total_count = name_counts.sum()
print(f"Total Count: {total_count}")

# Print the unique names and their counts
for name, count in name_counts.items():
    print(f"Name: {name}, Count: {count}")

Total Count: 80860
Name: RED LAKE INDIAN AGCY, MN US, Count: 380
Name: PHOENIX 2.6 NNW, AZ US, Count: 293
Name: PHOENIX 5.4 NE, AZ US, Count: 191
Name: FRESNO 2.4 NW, CA US, Count: 187
Name: PHOENIX 3.8 NNW, AZ US, Count: 187
Name: NEW ROCKFORD 7.0 ESE, ND US, Count: 187
Name: GLENDALE 3.5 S, AZ US, Count: 181
Name: FRESNO 5 NE, CA US, Count: 173
Name: TUCSON 3.0 WNW, AZ US, Count: 169
Name: CAVE CREEK 9.4 WSW, AZ US, Count: 161
Name: ANTHEM 0.9 NE, AZ US, Count: 161
Name: AVONDALE 3.8 NE, AZ US, Count: 160
Name: YUMA 7.7 SE, AZ US, Count: 158
Name: BUNCH 0.8 N, OK US, Count: 150
Name: GLENDALE 2.5 ENE, AZ US, Count: 139
Name: MADERA, CA US, Count: 138
Name: MODESTO 4.1 NW, CA US, Count: 137
Name: TURLOCK NUMBER 2, CA US, Count: 135
Name: PHOENIX 9.2 NE, AZ US, Count: 133
Name: WILLOW CREEK 4.9 NNE, CA US, Count: 128
Name: SWAN FALLS PH, ID US, Count: 127
Name: BAKERSFIELD 5 NW, CA US, Count: 124
Name: MESA 1.3 W, AZ US, Count: 121
Name: BELCOURT KEYA RADIO, ND US, Count: 119
Name: MERCED 1.2 NW, CA US, Count: 118
Name: SAN CARLOS RESERVOIR, AZ US, Count: 114
Name: TUCSON 6.4 SSE, AZ US, Count: 112
Name: KINGMAN 5.6 NNE, AZ US, Count: 112
Name: ELSINORE, CA US, Count: 110
Name: TUCSON 2.5 WNW, AZ US, Count: 109
Name: PHOENIX 5.5 SSE, AZ US, Count: 109
Name: ANTHEM 1.7 NW, AZ US, Count: 107
Name: PLEASANT VALLEY, AZ US, Count: 106
Name: MESA 1.6 ENE, AZ US, Count: 104
Name: MINNEWAUKAN, ND US, Count: 100
Name: HAMLET, NC US, Count: 99
Name: MCRAE 6.6 SE, GA US, Count: 98
Name: WICHITA 1.2 NNW, KS US, Count: 98
Name: RIALTO 2.1 N, CA US, Count: 98
Name: PHOENIX 6.3 SSW, AZ US, Count: 92
Name: TOPEKA NWS, KS US, Count: 91
Name: GRAVOIS MILLS 8.4 S, MO US, Count: 91
Name: CONCORD 2.1 SE, CA US, Count: 91
Name: EAST GLACIER, MT US, Count: 91
Name: STOCKTON 3.3 SE, CA US, Count: 90
Name: FANSHAWE, OK US, Count: 89
Name: RIVERSIDE 5.8 E, CA US, Count: 87
Name: LOS BANOS, CA US, Count: 86
Name: RUSK, TX US, Count: 86
Name: TEMPE ASU, AZ US, Count: 85
Name: WEST NYACK 1.3 WSW, NY US, Count: 85
Name: BOISE LUCKY PEAK DAM, ID US, Count: 84
Name: TEMPE 2.1 WSW, AZ US, Count: 83
Name: DIANA 2 W, TX US, Count: 83
Name: BRIGHT ANGEL RANGER STATION, AZ US, Count: 83
Name: RIO GRANDE CITY 17.7 NE, TX US, Count: 82
Name: INDIO FIRE STATION, CA US, Count: 81
Name: LANDER 0.9 W, WY US, Count: 80
Name: GLENDALE 10.7 NNE, AZ US, Count: 79
Name: TUCSON 8.3 WSW, AZ US, Count: 78
Name: REDLANDS, CA US, Count: 78
Name: SCOTTSDALE 7.8 SSW, AZ US, Count: 76
Name: SUNNYSLOPE 1.6 W, CA US, Count: 75
Name: MECCA FIRE STATION, CA US, Count: 75
Name: TUCSON 5.0 NNW, AZ US, Count: 74
Name: GOODYEAR 2.9 W, AZ US, Count: 74
Name: HEBER ARIZONA, AZ US, Count: 74
Name: TOPEKA 3.2 WSW, KS US, Count: 73
Name: DECATUR, TX US, Count: 72
Name: MOUNT PLEASANT, TX US, Count: 72
Name: TUCSON 5.3 SSW, AZ US, Count: 71
Name: PELTON DAM, OR US, Count: 71
Name: PHOENIX 6.7 WSW, AZ US, Count: 71
Name: OVERLAND PARK 1.7 NE, KS US, Count: 71
Name: VISALIA, CA US, Count: 70
Name: TUCSON 2.8 WNW, AZ US, Count: 70
Name: ECHO DAM, UT US, Count: 69
Name: HENDERSON 7.0 SSW, TX US, Count: 68
Name: STOCKTON 0.6 NW, UT US, Count: 68
Name: BLANDING, UT US, Count: 68
Name: SCOTLAND, TX US, Count: 67
Name: GOODYEAR 5.9 WSW, AZ US, Count: 67
Name: ROCHESTER 3.4 NNW, NY US, Count: 67
Name: BETATAKIN, AZ US, Count: 67
Name: BAXLEY 1.8 SSE, GA US, Count: 67
Name: MOUNT VERNON, GA US, Count: 66
Name: OBERLIN FIRE TOWER, LA US, Count: 66
Name: KEENE 3 S, ND US, Count: 66
Name: WORLAND 2.8 NE, WY US, Count: 66
Name: CAMP PARDEE, CA US, Count: 66
Name: COLORADO SPRINGS 3.0 S, CO US, Count: 65
Name: ROSEVILLE 2.4 SE, CA US, Count: 64
Name: LAUGHLIN, NV US, Count: 64
Name: GILBERT 3.8 NW, AZ US, Count: 64
Name: ALTON, UT US, Count: 64
Name: LEESVILLE, LA US, Count: 64
Name: BEAUMONT 2.1 ESE, CA US, Count: 64
Name: FORT DUCHESNE, UT US, Count: 63
Name: DELTA 3 E, CO US, Count: 63
Name: PLAINS 5.2 N, MT US, Count: 63
Name: GLOBE NUMBER 3, AZ US, Count: 62
Name: TULIA, TX US, Count: 62
Name: RUSHVILLE 11.6 NNW, NE US, Count: 62
Name: NAHUNTA 6 S, GA US, Count: 62
Name: FARMINGTON AG SCIENCE CNT, NM US, Count: 62
Name: FITZGERALD 4.3 N, GA US, Count: 62
Name: OAK CITY 0.3 SSE, UT US, Count: 61
Name: SWAINSBORO 0.9 W, GA US, Count: 61
Name: SAN BERNARDINO 5.1 NW, CA US, Count: 60
Name: PHOENIX 6.0 NNE, AZ US, Count: 59
Name: COOL RIDGE 0.4 NE, WV US, Count: 59
Name: CHANDLER 3.8 N, AZ US, Count: 58
Name: DAISY 4 ENE, OK US, Count: 58
Name: WEST, TX US, Count: 58
Name: WACO 4.1 NE, TX US, Count: 58
Name: MESA 4.3 SW, AZ US, Count: 58
Name: KINGMAN 2.7 ENE, AZ US, Count: 58
Name: TOPEKA 2.1 WSW, KS US, Count: 57
Name: TUCSON 4.9 E, AZ US, Count: 57
Name: GUADALUPE 7.2 SW, AZ US, Count: 57
Name: EAST MESA, AZ US, Count: 57
Name: PAYSON 6.3 NNE, AZ US, Count: 56
Name: SCREVEN 2.3 ENE, GA US, Count: 56
Name: DUBLIN 6.3 SW, GA US, Count: 56
Name: LIPAN 4 NW, TX US, Count: 55
Name: BATTIEST, OK US, Count: 55
Name: BURLINGAME 3.5 NNE, KS US, Count: 55
Name: GOLDEN VALLEY 2.6 WNW, AZ US, Count: 55
Name: DUBLIN 2, GA US, Count: 55
Name: DEVIL MOUNTAIN ALASKA, AK US, Count: 54
Name: MURRIETA 3.6 NNE, CA US, Count: 54
Name: EVANS 2.0 NNW, WA US, Count: 53
Name: EAST ROCHESTER 0.1 NNW, NY US, Count: 53
Name: THORNTON 2.3 SSE, CO US, Count: 53
Name: MERCED, CA US, Count: 53
Name: FEDSCREEK 1 SE, KY US, Count: 53
Name: WINNEMUCCA 3 SSW, NV US, Count: 53
Name: SAN JACINTO, CA US, Count: 52
Name: PHOENIX 8.8 NNW, AZ US, Count: 52
Name: DONALSONVILLE, GA US, Count: 52
Name: FREMONT, CA US, Count: 52
Name: CANYON DE CHELLY, AZ US, Count: 52
Name: EPHRAIM, UT US, Count: 52
Name: TUCSON 1.5 NNE, AZ US, Count: 52
Name: LAKE MADERA 1.3 NNE, CA US, Count: 52
Name: WALDEN 1.2 S, NY US, Count: 52
Name: SCOTTSDALE 11.6 NNW, AZ US, Count: 51
Name: ALBERTON, MT US, Count: 51
Name: HOLLY HILL 1 SW, SC US, Count: 51
Name: BELLVILLE 2.8 N, GA US, Count: 51
Name: TEMPE 4.0 SW, AZ US, Count: 50
Name: WICHITA 4.5 ENE, KS US, Count: 50
Name: PLACERVILLE 3.7 SW, CA US, Count: 50
Name: HYANNIS, MA US, Count: 50
Name: PASO ROBLES, CA US, Count: 50
Name: YOUNGTOWN, AZ US, Count: 50
Name: HELM 2.7 NNE, CA US, Count: 50
Name: GAINESVILLE 5 ENE, TX US, Count: 50
Name: PUEBLO 2.5 SSW, CO US, Count: 50
Name: NOGALES 6 N, AZ US, Count: 50
Name: FAIRBANKS 7.2 ENE, AK US, Count: 50
Name: PHOENIX 5.6 N, AZ US, Count: 49
Name: SANDERS, AZ US, Count: 49
Name: ALTAMONT, UT US, Count: 49
Name: MEXIA 9.4 SSE, TX US, Count: 49
Name: HANFORD 3.6 N, CA US, Count: 49
Name: MARYSVILLE 5.0 N, CA US, Count: 49
Name: RED SPRINGS 3.8 NW, NC US, Count: 49
Name: LINCOLN 1.3 SSW, CA US, Count: 49
Name: BREMOND, TX US, Count: 48
Name: SPANISH FORK 1.0 W, UT US, Count: 48
Name: LAKE FORK RESERVOIR, TX US, Count: 48
Name: HILLSBORO, TX US, Count: 48
Name: INEZ 2 E, KY US, Count: 48
Name: GRANGER 2.3 NNE, WA US, Count: 48
Name: TUCSON 5.3 WNW, AZ US, Count: 47
Name: BIG SANDY 3.9 E, TX US, Count: 47
Name: SPOKANE 5.7 SSE, WA US, Count: 47
Name: STRAWN 8 NNE, TX US, Count: 47
Name: BUCKEYE 7.8 SE, AZ US, Count: 47
Name: JERICHO, TX US, Count: 47
Name: TEEC NOS POS, AZ US, Count: 47
Name: NORTH BEND 5.4 ESE, WA US, Count: 47
Name: MARKLEY COVE, CA US, Count: 47
Name: BAKERSFIELD 6.1 WSW, CA US, Count: 47
Name: TUCSON 8.0 NW, AZ US, Count: 47
Name: POPLAR BLUFF 4.2 NW, MO US, Count: 47
Name: LAUGHLIN 1.2 SSW, NV US, Count: 46
Name: BRIGHTON 1.7 ESE, CO US, Count: 46
Name: OKANOGAN 1.2 NE, WA US, Count: 46
Name: NICOLAUS NUMBER 2, CA US, Count: 46
Name: BULLARD 3.7 E, TX US, Count: 46
Name: LAKE CITY 7.9 SSW, FL US, Count: 46
Name: AUBERRY 2 NW, CA US, Count: 46
Name: BLUE RIDGE RANGER STATION, AZ US, Count: 46
Name: SAGINAW NUMBER 3, MI US, Count: 45
Name: MURRIETA 4.3 ENE, CA US, Count: 45
Name: KITE, GA US, Count: 45
Name: COLORADO SPRINGS 3.7 ENE, CO US, Count: 45
Name: DERBY 2.9 N, KS US, Count: 45
Name: COLORADO SPRINGS 1.1 NE, CO US, Count: 45
Name: NORWOOD NUMBER 2, CO US, Count: 45
Name: HELENA 2.0 NNW, MT US, Count: 45
Name: ANDREWS, SC US, Count: 44
Name: GERBER 3.5 SW, CA US, Count: 44
Name: BONNER SPRINGS, KS US, Count: 44
Name: IGNACIO 6 ESE, CO US, Count: 44
Name: YAKIMA 0.9 WNW, WA US, Count: 44
Name: MANOR 3.0 NW, GA US, Count: 44
Name: SONORA, CA US, Count: 44
Name: ROCHESTER 5.0 WNW, NY US, Count: 44
Name: NEWMAN, CA US, Count: 44
Name: LAKE CITY 2 SE, SC US, Count: 44
Name: WARRENSBURG 1.1 NNE, MO US, Count: 43
Name: KINGSTREE 6.9 SE, SC US, Count: 43
Name: TWITCHELL DAM, CA US, Count: 43
Name: OSAWATOMIE, KS US, Count: 43
Name: TRACY CARBONA, CA US, Count: 43
Name: ANCHORAGE 4.7 SSW, AK US, Count: 43
Name: AMARILLO 4.8 WSW, TX US, Count: 43
Name: LAKE PARK 2.8 W, GA US, Count: 43
Name: AVINGER 6.6 S, TX US, Count: 43
Name: LITCHFIELD PARK 0.4 N, AZ US, Count: 43
Name: SALINAS 3.2 NNW, CA US, Count: 43
Name: SANFORD DAM, TX US, Count: 42
Name: MOUNT LEMMON WILLOW CANYON, AZ US, Count: 42
Name: ROSEVILLE 4.7 WNW, CA US, Count: 42
Name: CLOVIS 1.3 NE, CA US, Count: 42
Name: GATESVILLE 9.8 SW, TX US, Count: 42
Name: KREBS 0.3 WNW, OK US, Count: 42
Name: TALKEETNA 7.6 S, AK US, Count: 42
Name: WESTMINSTER 3.9 S, CO US, Count: 42
Name: BENGAL 4 NNW, OK US, Count: 42
Name: KIRBYVILLE 1.5 SE, TX US, Count: 42
Name: MESA VERDE NATIONAL PARK, CO US, Count: 42
Name: FIVE POINTS 5 SSW, CA US, Count: 41
Name: FAIRBANKS 6.3 W, AK US, Count: 41
Name: COLUMBUS, KS US, Count: 41
Name: AMARILLO 9.9 WNW, TX US, Count: 41
Name: TEMPE 3.6 NNW, AZ US, Count: 41
Name: ALBEMARLE, NC US, Count: 41
Name: MOUND CITY 1 SSW, KS US, Count: 41
Name: CANON CITY 2.5 ENE, CO US, Count: 41
Name: AUGUSTA 1.0 S, KS US, Count: 40
Name: SUN CITY 1.2 NNW, AZ US, Count: 40
Name: ITASCA 5 SSW, TX US, Count: 40
Name: CROCKETT, TX US, Count: 40
Name: FORD 0.8 SW, WA US, Count: 40
Name: LONGVIEW, TX US, Count: 40
Name: WACO 1.0 WSW, TX US, Count: 40
Name: KETTLE FALLS 10.2 NW, WA US, Count: 40
Name: MEEKER, CO US, Count: 40
Name: WAGRAM 4.5 W, NC US, Count: 40
Name: SOUTH LAKE TAHOE 4.9 SW, CA US, Count: 39
Name: HARRISON 5.2 ESE, MI US, Count: 39
Name: PAGOSA SPRINGS 8.8 W, CO US, Count: 39
Name: CHOWCHILLA 0.3 E, CA US, Count: 39
Name: TOPEKA 10.3 NNE, KS US, Count: 39
Name: MULESHOE NUMBER 1, TX US, Count: 39
Name: BATTLE CREEK 0.5 N, MI US, Count: 39
Name: WICKIUP DAM, OR US, Count: 39
Name: DULCE, NM US, Count: 39
Name: COLORADO SPRINGS 5.0 ENE, CO US, Count: 38
Name: WICHITA FALLS 7.2 WSW, TX US, Count: 38
Name: LAKE SOLANO, CA US, Count: 38
Name: SCOTTSDALE 3.7 SSW, AZ US, Count: 38
Name: LONG VALLEY 2, CA US, Count: 38
Name: EL DORADO HILLS 0.7 NNE, CA US, Count: 38
Name: HENDERSON 6.9 WNW, TX US, Count: 38
Name: DENVER 6.7 NE, CO US, Count: 38
Name: JACKSON SPRINGS 5 WNW, NC US, Count: 38
Name: DAINGERFIELD 9 S, TX US, Count: 38
Name: GREEN RIVER 1.1 SSE, WY US, Count: 38
Name: DETROIT 4.4 S, MI US, Count: 38
Name: THREE RIVERS 9 NE, TX US, Count: 38
Name: COLORADO SPRINGS 2.1 SSW, CO US, Count: 38
Name: SACRAMENTO 6.5 NE, CA US, Count: 38
Name: ROLETTE 8.1 WNW, ND US, Count: 38
Name: THORNTON 1.9 ESE, CO US, Count: 38
Name: TRACY PUMPING PLANT, CA US, Count: 38
Name: QUARTZSITE, AZ US, Count: 38
Name: TEMPE 6.7 SSW, AZ US, Count: 38
Name: AZTEC 9.2 NE, NM US, Count: 38
Name: RED BLUFF 2.8 N, CA US, Count: 37
Name: VICTORVILLE, CA US, Count: 37
Name: CARTHAGE, TX US, Count: 37
Name: SHELL BEACH 0.2 ENE, CA US, Count: 37
Name: DETROIT LAKES 1 NNE, MN US, Count: 37
Name: MERLIN 1.7 N, OR US, Count: 37
Name: CORDELE, GA US, Count: 37
Name: EL MIRAGE 1.6 S, AZ US, Count: 37
Name: PHOENIX 11.5 NNW, AZ US, Count: 37
Name: WHITTIER 2.9 WNW, CA US, Count: 37
Name: TUCSON 4.1 NNW, AZ US, Count: 36
Name: OLATHE 4.9 NW, KS US, Count: 36
Name: DE WITT 1.4 WSW, NY US, Count: 36
Name: GRIDLEY 3.3 SE, CA US, Count: 36
Name: CLAYTON 2.6 SW, WA US, Count: 36
Name: SUN LAKES 2.2 ESE, AZ US, Count: 36
Name: FLAGSTAFF 2.0 ENE, AZ US, Count: 36
Name: JACKSONVILLE, TX US, Count: 36
Name: ROCKPORT 6.5 E, WA US, Count: 36
Name: TUCSON 2.0 ENE, AZ US, Count: 36
Name: SPRINGFIELD 4.1 W, MA US, Count: 36
Name: SAN JACINTO 4.2 W, CA US, Count: 36
Name: GLENNVILLE 3 NW, GA US, Count: 36
Name: TIFTON 1.4 ENE, GA US, Count: 36
Name: OLATHE 1.6 NNE, KS US, Count: 36
Name: CRANFILLS GAP, TX US, Count: 36
Name: LUMBERTON, NC US, Count: 36
Name: GRAHAM 0.9 W, TX US, Count: 36
Name: NACHES 11.8 WNW, WA US, Count: 36
Name: HURRICANE 2.4 E, UT US, Count: 36
Name: PUEBLO 5.0 S, CO US, Count: 36
Name: NIAGARA FALLS, NY US, Count: 35
Name: BRECKENRIDGE, TX US, Count: 35
Name: PIOCHE 0.1 SW, NV US, Count: 35
Name: GILBERT 3.6 ENE, AZ US, Count: 35
Name: BIG SPRING FIELD STATION, TX US, Count: 35
Name: STEPHENVILLE 0.7 SW, TX US, Count: 35
Name: NORTHGLENN, CO US, Count: 35
Name: HURRICANE 1.6 SSW, WV US, Count: 35
Name: CRATER LAKE NPS HQ, OR US, Count: 35
Name: COFFEYVILLE WATER WRKS, KS US, Count: 35
Name: PATCHOGUE 0.9 SE, NY US, Count: 35
Name: WACO 1.9 SW, TX US, Count: 35
Name: BONITA 7 NW, TX US, Count: 35
Name: DORRIS 0.2 SW, CA US, Count: 35
Name: SHELTON 2.8 ESE, WA US, Count: 34
Name: SPARTA FORT MCCOY, WI US, Count: 34
Name: CANTON 4.6 SSW, TX US, Count: 34
Name: CALAVERAS BIG TREES, CA US, Count: 34
Name: LAVEEN 3.0 SE, AZ US, Count: 34
Name: GILROY 0.1 SE, CA US, Count: 34
Name: GREENVILLE 2 NNE, MI US, Count: 34
Name: GATESVILLE, TX US, Count: 34
Name: CRESTVIEW 1.9 SE, FL US, Count: 34
Name: ARKANSAS CITY, KS US, Count: 34
Name: AXTELL 1.9 SW, TX US, Count: 34
Name: CHINA SPRING 3.3 WNW, TX US, Count: 34
Name: NACOGDOCHES ARBOR OAKS, TX US, Count: 34
Name: IOLA 10.4 SSW, TX US, Count: 34
Name: ROSSVILLE, KS US, Count: 34
Name: WACO DAM, TX US, Count: 34
Name: QUITMAN 6.9 N, TX US, Count: 34
Name: MIDDLETOWN, CA US, Count: 34
Name: SILVERTON, TX US, Count: 33
Name: TIFTON, GA US, Count: 33
Name: BUCKINGHAM 1.7 SE, FL US, Count: 33
Name: SHOW LOW 6.5 WNW, AZ US, Count: 33
Name: MAYBELL, CO US, Count: 33
Name: FORT BIDWELL, CA US, Count: 33
Name: COALINGA, CA US, Count: 33
Name: RED SPRINGS 1 SE, NC US, Count: 33
Name: MILLEDGEVILLE 6.5 SSE, GA US, Count: 33
Name: EL CERRITO 1.3 NW, CA US, Count: 33
Name: GROVELAND 2, CA US, Count: 33
Name: ANTIOCH PUMPING PLANT NUMBER 3, CA US, Count: 33
Name: AUGUSTA 4.5 NNW, WI US, Count: 33
Name: DODD CITY 3.0 NNW, TX US, Count: 33
Name: LUFKIN 5.2 WNW, TX US, Count: 33
Name: STRAFFORD 2.9 N, NH US, Count: 33
Name: MECOSTA 4.6 SSW, MI US, Count: 33
Name: STEPHENVILLE 2.6 NNW, TX US, Count: 33
Name: MESA 0.6 NNW, AZ US, Count: 33
Name: THE DALLES, OR US, Count: 33
Name: MOORES CREEK NATIONAL BATTLEFIELD, NC US, Count: 33
Name: OLATHE 3.2 NNE, CO US, Count: 33
Name: SPRINGVILLE 1.4 SSW, CA US, Count: 32
Name: PERRIS 10.6 W, CA US, Count: 32
Name: MESA 1.5 SSW, AZ US, Count: 32
Name: PHOENIX 13.0 NNW, AZ US, Count: 32
Name: PALMER 1.7 WNW, AK US, Count: 32
Name: ALTURAS 9 ENE, CA US, Count: 32
Name: GREENVILLE, AL US, Count: 32
Name: ROCKY FORD 4 SE, GA US, Count: 32
Name: ALUM CREEK 3.0 E, WV US, Count: 32
Name: SCOTTSDALE 8.0 N, AZ US, Count: 32
Name: MAGNOLIA 2.8 S, TX US, Count: 32
Name: PHOENIX 12.7 N, AZ US, Count: 32
Name: PUEBLO 2.3 SE, CO US, Count: 32
Name: PHOENIX 12.8 N, AZ US, Count: 32
Name: OVERLAND PARK S OF 87TH, KS US, Count: 32
Name: MONTICELLO 2.2 SE, WI US, Count: 32
Name: ARMONK 0.3 SE, NY US, Count: 32
Name: TAMARAC WILDLIFE REF, MN US, Count: 31
Name: PRIEST RIVER EXPERIMENTAL STATION, ID US, Count: 31
Name: BIG RAPIDS WATER TREATMENT PLANT, MI US, Count: 31
Name: GUSTINE 9.8 E, TX US, Count: 31
Name: CANON CITY .84 SE, CO US, Count: 31
Name: BAGLEY 16.6 SSE, MN US, Count: 31
Name: DURANGO 4.9 ESE, CO US, Count: 31
Name: SHADY COVE 0.2 S, OR US, Count: 31
Name: FREMONT 4 WSW, MI US, Count: 31
Name: MOUNT CHARLESTON FIRE STATION, NV US, Count: 31
Name: CADILLAC 9 AND 10 NEWS, MI US, Count: 31
Name: BELLEMONT WEATHER FORECAST OFFICE, AZ US, Count: 31
Name: BROOKLET 1 W, GA US, Count: 31
Name: REDDING 3.8 S, CA US, Count: 31
Name: ROCKY FORD 0.5 SSW, CO US, Count: 31
Name: GRAYLING, MI US, Count: 31
Name: KINGSTREE 7.9 NW, SC US, Count: 31
Name: TOLLESON 3.1 SSW, AZ US, Count: 31
Name: LOST CREEK DAM, OR US, Count: 31
Name: RIFLE 3 ENE, CO US, Count: 31
Name: REDDING 7.9 NNE, CA US, Count: 31
Name: HENRIETTA 0.7 WSW, TX US, Count: 31
Name: BEOWAWE, NV US, Count: 31
Name: LIVERMORE, CA US, Count: 31
Name: SANDERSVILLE, GA US, Count: 31
Name: LAURINBURG, NC US, Count: 31
Name: PINE GROVE FIRE TOWER, LA US, Count: 31
Name: HARDIN, MT US, Count: 31
Name: MCNARY 2 N, AZ US, Count: 31
Name: GOLDENDALE 4.2 NNW, WA US, Count: 31
Name: FORT SMITH 0.5 ENE, MT US, Count: 31
Name: VALDOSTA 4.8 WSW, GA US, Count: 31
Name: SPOKANE 5.5 S, WA US, Count: 31
Name: LAKE HAVASU CITY, AZ US, Count: 31
Name: BURKBURNETT 1.2 WSW, TX US, Count: 31
Name: BALCH POWER HOUSE, CA US, Count: 30
Name: ELIZABETHTOWN, NC US, Count: 30
Name: SAM RAYBURN DAM, TX US, Count: 30
Name: WICKENBURG 2.6 WSW, AZ US, Count: 30
Name: PINETOP 2 E, AZ US, Count: 30
Name: MANNING, SC US, Count: 30
Name: SUMTER 6.8 NNE, SC US, Count: 30
Name: POPLAR 20.4 N, MT US, Count: 30
Name: SAN FRANCISCO 1.1 SW, CA US, Count: 30
Name: PAGOSA SPRINGS 1 SE, CO US, Count: 30
Name: BARBOURSVILLE 1.1 NW, VA US, Count: 30
Name: PITTSBURG 0.7 WSW, KS US, Count: 30
Name: WOODLAND PARK 1.1 NNW, CO US, Count: 30
Name: HENDERSON 6.1 NW, TX US, Count: 30
Name: CECIL 5.6 ENE, WI US, Count: 30
Name: DILLEY 0.4 SSW, TX US, Count: 30
Name: BROCKTON, MA US, Count: 30
Name: OAKDALE 2.4 NE, CA US, Count: 30
Name: MINERAL POINT 7.3 ENE, WI US, Count: 30
Name: EASTON, KS US, Count: 30
Name: TONGANOXIE 5 SE, KS US, Count: 30
Name: PRINEVILLE 2.6 ENE, OR US, Count: 30
Name: COWICHE 1.6 WSW, WA US, Count: 30
Name: SYLVESTER 5.5 WSW, GA US, Count: 30
Name: WINTHROP 4.1 WNW, WA US, Count: 30
Name: CAVE JUNCTION 0.4 ENE, OR US, Count: 30
Name: MC LAUGHLIN 2 SW, SD US, Count: 30
Name: HARRY L. ENGLEBRIGHT DAM, CA US, Count: 30
Name: AQUILLA 1.3 NNE, TX US, Count: 30
Name: HANNAWA FALLS 0.1 SW, NY US, Count: 29
Name: HUDSON 4.8 WSW, CO US, Count: 29
Name: RIVERSIDE MUNICIPAL AIRPORT, CA US, Count: 29
Name: EDMORE 3.8 ESE, MI US, Count: 29
Name: SAINT JOHNS, AZ US, Count: 29
Name: BRONSON 3.0 SE, FL US, Count: 29
Name: HEBER CITY 10.1 ESE, UT US, Count: 29
Name: MONCKS CORNER 4 N, SC US, Count: 29
Name: NAPLES 2.8 SSE, UT US, Count: 29
Name: BABSON PARK 0.9 NW, FL US, Count: 29
Name: EASTMAN 1 W, GA US, Count: 29
Name: HALLSVILLE 4 S, TX US, Count: 29
Name: GREEN BAY 3.8 SSE, WI US, Count: 29
Name: KEWASKUM 1.8 WNW, WI US, Count: 29
Name: MOUNT VERNON, TX US, Count: 29
Name: DE LEON 4.5 W, TX US, Count: 29
Name: RANGELY 0.6 NNE, CO US, Count: 29
Name: CHAUNCEY 2.6 SW, GA US, Count: 29
Name: GILBERT 7.7 SSE, AZ US, Count: 29
Name: ALPINE, AZ US, Count: 29
Name: GOVERNMENT CAMP, OR US, Count: 29
Name: HOLDENVILLE 3 ESE MESONET, OK US, Count: 29
Name: WEBSTER 3.0 W, NY US, Count: 29
Name: HAT CREEK, CA US, Count: 29
Name: HELENA 10.6 N, MT US, Count: 29
Name: FAIRFIELD, UT US, Count: 29
Name: MACK 5 NW, CO US, Count: 29
Name: PRESCOTT VALLEY 1.1 ESE, AZ US, Count: 29
Name: ST. CLAIR 3.7 W, MO US, Count: 28
Name: ALVORD 3 N, TX US, Count: 28
Name: LAKE ELSINORE 2.8 SSW, CA US, Count: 28
Name: LIBBY DAM BASE, MT US, Count: 28
Name: MILFORD LAKE, KS US, Count: 28
Name: FLINT 7 W, MI US, Count: 28
Name: LENOIR, NC US, Count: 28
Name: KYLES FORD 1.0 N, TN US, Count: 28
Name: NORTON SHORES 2.3 SSE, MI US, Count: 28
Name: CHRISTMAS VALLEY 9.1 NW, OR US, Count: 28
Name: SANTA ANA FIRE STATION, CA US, Count: 28
Name: CAMERON, MO US, Count: 28
Name: RIVERSIDE FIRE STATION 3, CA US, Count: 28
Name: STOCKTON 2.5 NE, CA US, Count: 28
Name: WINCHESTER 6.5 S, CA US, Count: 28
Name: BUSBY, MT US, Count: 28
Name: CORDES, AZ US, Count: 28
Name: GALLIPOLIS, OH US, Count: 28
Name: SYRACUSE 2.7 S, NY US, Count: 28
Name: ST. STEPHEN 0.4 ENE, SC US, Count: 28
Name: GRANTS PASS, OR US, Count: 28
Name: TAHLEQUAH 3.5 SSW, OK US, Count: 28
Name: CALDWELL, TX US, Count: 28
Name: ANTELOPE, TX US, Count: 28
Name: PLOVER 1.8 W, WI US, Count: 28
Name: BLACK RIVER FALLS 1.7 NNE, WI US, Count: 28
Name: DILLON, SC US, Count: 28
Name: UPPER SPAVINAW PORT, OK US, Count: 28

In [ ]:
us_data_2018_2019.columns

Index(['LATITUDE', 'LONGITUDE', 'FIRE_SIZE', 'FIRE_SIZE_CLASS',
       'NWCG_CAUSE_CLASSIFICATION', 'DISCOVERY_DATE', 'CONT_DATE', 'STATE',
       'station', 'name', 'latitude', 'longitude', 'elevation', 'date', 'TAVG',
       'TMAX', 'TMIN'],
      dtype='object')

In [ ]:
warnings.filterwarnings("ignore")

us_data_2018_test = merged_results[['FIRE_NAME', 'STATE', 'FIPS_CODE', 'LATITUDE', 'LONGITUDE', 'DISCOVERY_DATE', 'CONT_DATE', 'name', 'latitude', 'longitude', 'date',
                                    'NWCG_CAUSE_CLASSIFICATION', 'FIRE_SIZE', 'FIRE_SIZE_CLASS',
                                    'elevation', 'TAVG', 'TMAX', 'TMIN','PRCP']]

# Rename the columns
us_data_2018_test.columns = ['FIRE_NAME', 'STATE', 'FIPS_CODE', 'FIRE_LATITUDE', 'FIRE_LONGITUDE', 'FIRE_DATE', 'CONTAIN_DATE', 'CLOSEST_STATION', 'STATION_LAT', 'STATION_LON', 'READINGS_DATE',
                               'CAUSE_CLASSIFICATION', 'FIRE_SIZE', 'FIRE_SIZE_CLASS',
                             'ELEVATION', 'TAVG', 'TMAX', 'TMIN','PRCP']


# Calculate the difference between 'CONTAIN_DATE' and 'FIRE_DATE'
us_data_2018_test['CONTAIN_DATE'] = pd.to_datetime(us_data_2018_test['CONTAIN_DATE'])
us_data_2018_test['DAYS_TO_CONTAIN'] = (us_data_2018_test['CONTAIN_DATE'] - us_data_2018_test['FIRE_DATE']).dt.days

# Replace any NaN values in 'DAYS_TO_CONTAIN' with 1
us_data_2018_test['DAYS_TO_CONTAIN'].fillna(0, inplace=True)

float_columns = {
    'FIRE_LATITUDE': float,
    'FIRE_LONGITUDE': float,
    'STATION_LAT': float,
    'STATION_LON': float,
    'FIRE_SIZE': float,
    'ELEVATION': float,
    'TAVG': float,
    'TMAX': float,
    'TMIN': float,
    'PRCP': float
}

int_columns = {
    'DAYS_TO_CONTAIN': int,
}

csv_filename = 'Outputs/us_data_2018.csv'
us_data_2018_test.to_csv(csv_filename, index=False)

us_data_2018_test = us_data_2018_test.astype({**float_columns, **int_columns})

us_data_2018_test.head(20)

,FIRE_NAME,STATE,FIPS_CODE,FIRE_LATITUDE,FIRE_LONGITUDE,FIRE_DATE,CONTAIN_DATE,CLOSEST_STATION,STATION_LAT,STATION_LON,READINGS_DATE,CAUSE_CLASSIFICATION,FIRE_SIZE,FIRE_SIZE_CLASS,ELEVATION,TAVG,TMAX,TMIN,PRCP,DAYS_TO_CONTAIN
0,BLODGETT,MT,30081.0,46.275833,-114.379167,2018-08-22,2018-08-22,"HAMILTON, MT US",46.246220,-114.167940,2018-09-01,Natural,0.10,A,1092.7,12.89,21.95,3.82,3.5,0
1,CORLEY GULCH,MT,30081.0,46.404167,-113.921944,2018-07-26,2018-07-28,"STEVENSVILLE 5.7 SSE, MT US",46.427776,-114.058279,2018-08-01,Human,0.10,A,1075.9,NaN,NaN,NaN,12.2,2
2,CANYON CREEK,MT,30081.0,46.245833,-114.308889,2018-09-21,2018-09-23,"HAMILTON, MT US",46.246220,-114.167940,2018-10-01,Human,1.00,B,1092.7,6.96,13.28,0.65,33.7,2
3,MAYNARD CREEK,MT,30081.0,45.784722,-114.033056,2018-08-17,NaT,"DARBY, MT US",46.026300,-114.176300,2018-09-01,Natural,0.10,A,1182.6,11.77,20.79,2.74,9.1,0
4,BLUE,MT,30081.0,45.986944,-113.807222,2018-08-12,2018-08-12,"SULA 14 NE, MT US",45.911000,-113.739400,2018-08-01,Natural,0.10,A,1571.2,15.10,26.09,4.12,19.4,0
5,POLLYWOG,MT,30081.0,46.023056,-113.799722,2018-08-11,2018-08-12,"SULA 14 NE, MT US",45.911000,-113.739400,2018-08-01,Natural,0.10,A,1571.2,15.10,26.09,4.12,19.4,1
6,CEDAR,ID,16049.0,45.913611,-114.667500,2018-07-25,2018-07-27,"SELWAY LODGE, ID US",46.008100,-114.844200,2018-08-01,Natural,0.10,A,786.4,19.38,31.89,6.88,21.1,2
7,DOUBLE STRIKE,MT,30081.0,46.121111,-114.239167,2018-06-08,2018-06-08,"DARBY, MT US",46.026300,-114.176300,2018-06-01,Natural,0.10,A,1182.6,14.62,21.15,8.09,102.7,0
8,MEADOW,MT,30081.0,45.868333,-113.804167,2018-08-17,NaT,"SULA 14 NE, MT US",45.911000,-113.739400,2018-09-01,Natural,0.25,A,1571.2,9.69,20.79,-1.42,11.2,0
9,MT GEORGE 2,ID,16049.0,45.914444,-114.635278,2018-07-24,2018-07-26,"SELWAY LODGE, ID US",46.008100,-114.844200,2018-08-01,Natural,0.10,A,786.4,19.38,31.89,6.88,21.1,2
10,NORTH TRAPPER,MT,30081.0,45.938889,-114.271944,2018-08-17,2018-10-02,"DARBY, MT US",46.026300,-114.176300,2018-09-01,Natural,0.10,A,1182.6,11.77,20.79,2.74,9.1,46
11,MARTIN CREEK,MT,30081.0,46.016111,-113.807778,2018-08-11,2018-08-12,"SULA 14 NE, MT US",45.911000,-113.739400,2018-08-01,Natural,0.10,A,1571.2,15.10,26.09,4.12,19.4,1
12,MT GEORGE,ID,16049.0,45.907500,-114.626389,2018-07-23,2018-07-25,"SELWAY LODGE, ID US",46.008100,-114.844200,2018-08-01,Natural,0.10,A,786.4,19.38,31.89,6.88,21.1,2
13,ELK,MT,30081.0,45.885833,-114.038333,2018-08-21,NaT,"DARBY, MT US",46.026300,-114.176300,2018-09-01,Natural,0.10,A,1182.6,11.77,20.79,2.74,9.1,0
14,HOPE LAKE,MT,30081.0,46.017778,-113.772778,2018-08-12,2018-08-12,"SULA 14 NE, MT US",45.911000,-113.739400,2018-08-01,Natural,1.00,B,1571.2,15.10,26.09,4.12,19.4,0
15,CHARITY,MT,30081.0,46.023333,-113.775000,2018-08-11,2018-08-12,"SULA 14 NE, MT US",45.911000,-113.739400,2018-08-01,Natural,0.10,A,1571.2,15.10,26.09,4.12,19.4,1
16,CINNABAR,MT,30081.0,46.569444,-113.839167,2018-09-13,2018-09-13,"FLORENCE 3.7 SE, MT US",46.606830,-114.012400,2018-09-01,Human,0.10,A,1085.1,NaN,NaN,NaN,5.4,0
17,HAYSTACK FIRE,ID,16049.0,45.708333,-114.744444,2018-07-17,2018-07-18,"SELWAY LODGE, ID US",46.008100,-114.844200,2018-08-01,Natural,0.10,A,786.4,19.38,31.89,6.88,21.1,1
18,JOHN PEAK,ID,16055.0,47.682778,-116.378611,2018-07-27,2018-07-30,"COEUR D ALENE 4.0 SE, ID US",47.663000,-116.715000,2018-08-01,Natural,0.20,A,880.3,NaN,NaN,NaN,21.4,3
19,HAMILTON,ID,16055.0,47.867778,-116.376944,2018-07-28,2018-07-29,"BAYVIEW MODEL BASIN, ID US",47.980400,-116.559400,2018-08-01,Natural,0.30,B,636.1,17.32,25.85,8.80,11.0,1

In [ ]:
warnings.filterwarnings("ignore")

us_data_2018 = merged_results[['FIRE_NAME', 'STATE', 'FIPS_CODE', 'LATITUDE', 'LONGITUDE', 'DISCOVERY_DATE', 'CONT_DATE', 'name', 'latitude', 'longitude', 'date',
                                    'NWCG_CAUSE_CLASSIFICATION', 'FIRE_SIZE', 'FIRE_SIZE_CLASS',
                                    'elevation', 'TAVG', 'TMAX', 'TMIN']]

# Rename the columns
us_data_2018.columns = ['FIRE_NAME', 'STATE', 'FIPS_CODE', 'FIRE_LATITUDE', 'FIRE_LONGITUDE', 'FIRE_DATE', 'CONTAIN_DATE', 'CLOSEST_STATION', 'STATION_LAT', 'STATION_LON', 'READINGS_DATE',
                               'CAUSE_CLASSIFICATION', 'FIRE_SIZE', 'FIRE_SIZE_CLASS',
                             'ELEVATION', 'TAVG', 'TMAX', 'TMIN']


# Calculate the difference between 'CONTAIN_DATE' and 'FIRE_DATE'
us_data_2018['CONTAIN_DATE'] = pd.to_datetime(us_data_2018['CONTAIN_DATE'])
us_data_2018['DAYS_TO_CONTAIN'] = (us_data_2018['CONTAIN_DATE'] - us_data_2018['FIRE_DATE']).dt.days

# Replace any NaN values in 'DAYS_TO_CONTAIN' with 1
us_data_2018['DAYS_TO_CONTAIN'].fillna(0, inplace=True)

float_columns = {
    'FIRE_LATITUDE': float,
    'FIRE_LONGITUDE': float,
    'STATION_LAT': float,
    'STATION_LON': float,
    'FIRE_SIZE': float,
    'ELEVATION': float,
    'TAVG': float,
    'TMAX': float,
    'TMIN': float
}

int_columns = {
    'DAYS_TO_CONTAIN': int,
}

us_data_2018 = us_data_2018.astype({**float_columns, **int_columns})

csv_filename = 'Outputs/us_data_2018.csv'
us_data_2018.to_csv(csv_filename, index=False)

us_data_2018.head(20)

,FIRE_NAME,STATE,FIPS_CODE,FIRE_LATITUDE,FIRE_LONGITUDE,FIRE_DATE,CONTAIN_DATE,CLOSEST_STATION,STATION_LAT,STATION_LON,READINGS_DATE,CAUSE_CLASSIFICATION,FIRE_SIZE,FIRE_SIZE_CLASS,ELEVATION,TAVG,TMAX,TMIN,DAYS_TO_CONTAIN
0,BLODGETT,MT,30081.0,46.275833,-114.379167,2018-08-22,2018-08-22,"HAMILTON, MT US",46.24622,-114.16794,2018-09-01,Natural,0.10,A,1092.7,12.89,21.95,3.82,0
1,CORLEY GULCH,MT,30081.0,46.404167,-113.921944,2018-07-26,2018-07-28,"STEVENSVILLE, MT US",46.51370,-114.09100,2018-08-01,Human,0.10,A,1028.7,18.29,28.05,8.53,2
2,CANYON CREEK,MT,30081.0,46.245833,-114.308889,2018-09-21,2018-09-23,"HAMILTON, MT US",46.24622,-114.16794,2018-10-01,Human,1.00,B,1092.7,6.96,13.28,0.65,2
3,MAYNARD CREEK,MT,30081.0,45.784722,-114.033056,2018-08-17,NaT,"DARBY, MT US",46.02630,-114.17630,2018-09-01,Natural,0.10,A,1182.6,11.77,20.79,2.74,0
4,BLUE,MT,30081.0,45.986944,-113.807222,2018-08-12,2018-08-12,"SULA 14 NE, MT US",45.91100,-113.73940,2018-08-01,Natural,0.10,A,1571.2,15.10,26.09,4.12,0
5,POLLYWOG,MT,30081.0,46.023056,-113.799722,2018-08-11,2018-08-12,"SULA 14 NE, MT US",45.91100,-113.73940,2018-08-01,Natural,0.10,A,1571.2,15.10,26.09,4.12,1
6,CEDAR,ID,16049.0,45.913611,-114.667500,2018-07-25,2018-07-27,"SELWAY LODGE, ID US",46.00810,-114.84420,2018-08-01,Natural,0.10,A,786.4,19.38,31.89,6.88,2
7,DOUBLE STRIKE,MT,30081.0,46.121111,-114.239167,2018-06-08,2018-06-08,"DARBY, MT US",46.02630,-114.17630,2018-06-01,Natural,0.10,A,1182.6,14.62,21.15,8.09,0
8,MEADOW,MT,30081.0,45.868333,-113.804167,2018-08-17,NaT,"SULA 14 NE, MT US",45.91100,-113.73940,2018-09-01,Natural,0.25,A,1571.2,9.69,20.79,-1.42,0
9,MT GEORGE 2,ID,16049.0,45.914444,-114.635278,2018-07-24,2018-07-26,"SELWAY LODGE, ID US",46.00810,-114.84420,2018-08-01,Natural,0.10,A,786.4,19.38,31.89,6.88,2
10,NORTH TRAPPER,MT,30081.0,45.938889,-114.271944,2018-08-17,2018-10-02,"DARBY, MT US",46.02630,-114.17630,2018-09-01,Natural,0.10,A,1182.6,11.77,20.79,2.74,46
11,MARTIN CREEK,MT,30081.0,46.016111,-113.807778,2018-08-11,2018-08-12,"SULA 14 NE, MT US",45.91100,-113.73940,2018-08-01,Natural,0.10,A,1571.2,15.10,26.09,4.12,1
12,MT GEORGE,ID,16049.0,45.907500,-114.626389,2018-07-23,2018-07-25,"SELWAY LODGE, ID US",46.00810,-114.84420,2018-08-01,Natural,0.10,A,786.4,19.38,31.89,6.88,2
13,ELK,MT,30081.0,45.885833,-114.038333,2018-08-21,NaT,"DARBY, MT US",46.02630,-114.17630,2018-09-01,Natural,0.10,A,1182.6,11.77,20.79,2.74,0
14,HOPE LAKE,MT,30081.0,46.017778,-113.772778,2018-08-12,2018-08-12,"SULA 14 NE, MT US",45.91100,-113.73940,2018-08-01,Natural,1.00,B,1571.2,15.10,26.09,4.12,0
15,CHARITY,MT,30081.0,46.023333,-113.775000,2018-08-11,2018-08-12,"SULA 14 NE, MT US",45.91100,-113.73940,2018-08-01,Natural,0.10,A,1571.2,15.10,26.09,4.12,1
16,CINNABAR,MT,30081.0,46.569444,-113.839167,2018-09-13,2018-09-13,"STEVENSVILLE, MT US",46.51370,-114.09100,2018-09-01,Human,0.10,A,1028.7,13.31,23.74,2.87,0
17,HAYSTACK FIRE,ID,16049.0,45.708333,-114.744444,2018-07-17,2018-07-18,"SELWAY LODGE, ID US",46.00810,-114.84420,2018-08-01,Natural,0.10,A,786.4,19.38,31.89,6.88,1
18,JOHN PEAK,ID,16055.0,47.682778,-116.378611,2018-07-27,2018-07-30,"KELLOGG, ID US",47.53333,-116.13333,2018-08-01,Natural,0.20,A,702.6,18.96,29.37,8.56,3
19,HAMILTON,ID,16055.0,47.867778,-116.376944,2018-07-28,2018-07-29,"BAYVIEW MODEL BASIN, ID US",47.98040,-116.55940,2018-08-01,Natural,0.30,B,636.1,17.32,25.85,8.80,1

In [ ]:
csv_filename = 'Outputs/us_data_2018.csv'
us_data_2018.to_csv(csv_filename, index=False)

NameError: name 'us_data_2018' is not defined